*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --transition: transform .75s cubic-bezier(0.075, 0.500, 0.000, 1.000);
    --index: calc(1vw + 1vh);
	--text: #f7fbfc;
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body{
    background-color: #010101;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
}
.f {
    position: relative;
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.layers__title {
	font-size: calc(var(--index) * 2);
	letter-spacing: calc(var(--index) / 2.25);
    text-transform: none;
}
.layers__caption {
	font-size: calc(var(--index) / 1.275);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
    /*width: 50%;
    margin-left: 29vw;
    font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 0.5);*/
}
.layer__header {
	z-index: 2;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #18303b;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 45vw;
    margin-left: 12vw;
    gap: calc(var(--index) * .75);
}
.layer__header_two .layers__caption{

}
.layer__header_two > .layers__title{
margin-right: 20vw;
}
.layer__header_two{
    z-index: 2;
	transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: calc(var(--index) * .75);
	text-shadow: 0 0 15px #533e04;
    margin-right: 30vw;
    margin-left: 3vw;
    margin-bottom: 20vh;
}
.layer__header_three{
    transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
    transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: calc(var(--index) * .75);
    color: var(--text);
    z-index: 2;
	
	text-shadow: 0 0 15px #18303b;
    margin-right: 30vw;
    margin-left: 3vw;
    margin-bottom: 22vh;
}
.main-header {
    position: relative;
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}
/*.block{
    position: relative;
    min-height: 100vh;
}*/
.layers__base {
    transform: translate3d(0, calc(var(--scrollTop)/1.6), 0);
    z-index: 0;
}
.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop)/2.5), 0);
    z-index: 1;
}
.layers__front {
    transform: translate3d(0, calc(var(--scrollTop)/5.7), 0);
}
/*.layers__base_k {
    transform: translate3d(0, calc(var(--scrollTop)/10), 0);
}
.layers__midle_k {
    transform: translate3d(0, calc(var(--scrollTop)/20), 0);
}
.layers__front_k {
    transform: translate3d(0, calc(var(--scrollTop)/10), 0);
}*/
.end{
    
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	/*top: -1px;*/
	/*z-index: 10;*/
   
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	
    z-index: 2;
	
	text-shadow: 0 0 15px #18303b;
}